<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find %ROBOT_NAME%)/urdf/%ROBOT_NAME%.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model %ROBOT_NAME%" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find %ROBOT_NAME%)/launch/urdf.rviz" />
</launch>